::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ccc; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #393E46 ; 
    border-radius: 5px;
  }

body{
    font-family: "Lato", sans-serif;
}

p{
    font-size: 18px;
}

nav ul a:hover{
    background-color: rgba(255, 255, 255, 0.1);
}
.brand-logo{
    font-family: "Lato", sans-serif;
}

.exercise-img{
    width: 100px;
}

.logo{
    margin: 7px 7px 0 0;
    display: inline-block;
}

.table-responsive2{
    /* display: inline-block; */
    /* width: 100%; */
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
 }

/*Hero Content*/
.hero{
    position: relative;
    /* height: calc(100vh - 90px); */
    min-height: 700px;
    /* overflow: hidden; */
}

.hero-content{    
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    /* z-index: 50; */
}

.main-banner{
    background: url("../img/victor-freitas-WvDYdXDzkhs-unsplash.jpg") center center/cover no-repeat local;
    background-position: 50% 70%;
}

.exercise-banner{
    background: url("../img/scott-webb-Vn39uEkX00s-unsplash.jpg") center center/cover no-repeat local;
    background-position: 50% 50%;
}


/* Carousel */
.carousel{
    height: 700px;
}
.carousel.carousel-slider .carousel-item h2{
    font-size: 28px;
}

.carousel-item:after{
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.home_carousel .carousel-item:after{
    background-color: rgba(0, 0, 0, 0.6);
}

.first-carousel{
    background-image: url('../img/karsten-winegeart-0Wra5YYVQJE-unsplash.jpg');
    background-size: cover;
    background-position: 50% 70%;
}

.second-carousel{
    background-image: url('../img/victor-freitas-WvDYdXDzkhs-unsplash.jpg');
    background-size: cover;
    background-position: 50% 20%;
    opacity: 0.6;
}

.third-carousel{
    background-image: url('../img/scott-webb-Vn39uEkX00s-unsplash.jpg');
    background-size: cover;
    background-position: 90% 50%;
    opacity: 0.6;
}

.first-carousel:before{
    
    opacity: 0.6;
}

/*==================================================
     CATEGORY Section
==================================================*/
.section.home-category {
    
    margin-top: 20px;
  margin-bottom: 0px;}
  
  .section.home-category .row.icon-service {
    margin-bottom: 0px; }
  
  .section.home-category .content {
    cursor: pointer;
    border: 0px solid #d1d1d1;
    text-align: center;
    padding-bottom: 100%;
    height: 0px;
    width: 100%;
    position: relative;
    margin-bottom: 20px; 
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow:    0px 0px 11px 0px rgba(50, 50, 50, 0.1);
  box-shadow:         0px 0px 11px 0px rgba(50, 50, 50, 0.1);
  }
  .section.home-category a:hover .content {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow:    0px 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow:         0px 0px 0px 0px rgba(0, 0, 0, 0);
  }
  
  .section.home-category .content .in-content {
    width: 100%;
    height: 100%;
    display: table;
    position: absolute; }
  
  .section.home-category .content .in-content .in-in-content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 15px; }
  
  .section.home-category .content .in-content .in-in-content img {
    width: 60%;
    height: auto; }
  
  .section.home-category i {
    font-size: 30px; 
    margin-bottom: 5px; }
  
  .section.home-category .content .in-content .in-in-content h5 {
    font-weight: 600;
    font-size: 10px; }

/*==================================================
    Log Section
==================================================*/
.log .log-header{
    font-weight: 600;
}
.log-workout-name{
    margin-bottom: 0px;
}

 /* label underline focus color */
 .input-field input[type=text] {
    /* border-bottom: none !important; */
    /* box-shadow: none; */
  }

  .input-field{
    margin-top: 1px !important;
  }

  .modal-content .datepicker{
    width: 30% !important;
  }

.workout-icon{
    max-width: 25%;
    height: auto;
}

/*==================================================
    Log-in Sing Up Section
==================================================*/

.singinup{
    color: white;
}


/*==================================================
    Media Queries
==================================================*/
@media(min-width:1200px){
    .log-container{
        padding-bottom: 150px;
    }
    .section.home-category .content{
        padding-bottom: 50% !important;

      }
}

@media(min-wdth:992px){
    
}

@media (max-width:1199px){
    p{
        font-size: 16px;
    }
    /*Hero*/
    .hero{
        min-height: 600px;
    }

    /* Carousel */
    .carousel{
        height: 400px !important;
    }
}


@media (max-width: 991px){
    p{
        font-size: 15px;
    }
    .brand{
        font-size: 20px !important;
    }

    .exercise-img{
        width: 70px;
        height: auto;
    }

    .small-center-align{
        text-align: center;
    }

    

    /*Hero*/
    .hero{
        min-height: 300px;
    }

    /* Workout Log */
    .workout-icon{
        max-height: 5rem;
    }
}



@media (max-width:767px) {

}


@media (max-width:470px){}